@forward "./base/reset";
@use "./utils/index.scss" as i;


header {
    .headbg {
        background: i.$headbg;

        .head {
            max-width: i.$w;
            margin: auto;

            .ul1 {
                ul {
                    li {
                        margin-right: i.$m30;
                    }
                }

                .d {
                    padding-left: 0 !important;

                    .headu {
                        margin-bottom: 0 !important;
                    }
                }
            }

            .headp {
                margin-bottom: 0 !important;
                margin-left: i.$m;
                margin-right: i.$m;
            }

            .headl {
                margin-right: i.$m20;
            }
        }
    }

    .head2 {
        max-width: i.$w;
        margin: auto;

        .m2 {
            margin-left: i.$s30;

            .m {
                margin-bottom: 0 !important;
                margin-left: i.$m;
                font-size: i.$s30;
                font-weight: 700;
            }
        }

        .col-7 {
            margin-bottom: 0 !important;

            ul {
                margin-bottom: 0 !important;

                li {
                    margin-bottom: 0 !important;
                }
            }
        }

        .col-3 {
            button {
                padding: 10px 30px;
                border: none;
                border-radius: 5px;
                background: i.$btnBg;
                color: i.$pri-c;
            }
            button:hover{
                background: i.$pri-c;
                color: black;
                border-radius: 5px;
                border: 1px solid #351EE0;
            }
        }
    }

}

.banner {
    @include i.bannerbg;

    .bg2 {
        background: i.$bannerbgc;
        height: 440px;
        opacity: 0.5;

        .banner-t {
            color: i.$pri-c;

            .bhead {
                font-size: i.$s74;
            }

            p {
                .bimg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

.card-group {
    max-width: i.$w;
    margin: auto;

    .item {
        border-radius: 5px;
        background: i.$pri-c;
        box-shadow: i.$box;

        .cardImg {
            background: #F9F9F9;
            padding: 30px;
            border-radius: 100%;
            transition: 0.4s;
        }
    }

    .item:hover {
        .cardImg {
            background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
        }
    }
}

.cumber {
    max-width: i.$w;
    margin: auto;
    background: i.$pri-c;

    .cumberBg {

        .bgc {
            position: relative;
            @include i.cumber;

            .bg3 {
                position: absolute;
            }
        }
    }

    .side {
        h1 {
            font-size: 60px;
            font-weight: 700;

            .span {
                color: #351EE0;
            }
        }

        button {
            padding: 20px 30px;
            border-radius: 5px;
            border: 1px solid #351EE0;
            
        }
        button:hover{
            background: i.$btnBg;
        }
    }
}

.footer{
    position: relative;
    background: #05092B;
    color: i.$pri-c;
    .foot{
        max-width: i.$w;
        margin: auto;
        .m{
            color: i.$pri-c;
            margin-bottom: 0 !important;
            margin-left: i.$m10;
        }
        .f{
            margin-bottom: 0 !important;
            padding-left: 0 !important;
        }
    }
    .w{
        max-width: i.$w;
        margin: auto;
    }
    .foot2{
        max-width: i.$w;
        margin: auto;
    }
    .footimg{
        position: absolute;
        top: 0;
    }
    .footimg2{
        position: absolute;
        top: 0;
        right: 0;
    }
}