@forward "./base/reset";
@use "./utils/index.scss" as i;


header {
    .headbg {
        background: i.$headbg;

        .head {
            max-width: i.$w;
            margin: auto;

            .ul1 {
                ul {
                    li {
                        margin-right: i.$m30;
                    }
                }

                .d {
                    padding-left: 0 !important;

                    .headu {
                        margin-bottom: 0 !important;
                    }
                }
            }

            .headp {
                margin-bottom: 0 !important;
                margin-left: i.$m;
                margin-right: i.$m;
            }

            .headl {
                margin-right: i.$m20;
            }
        }
    }

    .head2 {
        max-width: i.$w;
        margin: auto;

        .m2 {
            margin-left: i.$s30;

            .m {
                margin-bottom: 0 !important;
                margin-left: i.$m;
                font-size: i.$s30;
                font-weight: 700;
            }
        }

        .col-7 {
            margin-bottom: 0 !important;

            ul {
                margin-bottom: 0 !important;

                li {
                    margin-bottom: 0 !important;
                }
            }
        }

        .headbtn {
            button {
                padding: 10px 30px;
                border: transparent;
                border: 1px solid #351EE0;
                border-radius: 5px;
                background: i.$btnBg;
                color: i.$pri-c;
                transition: 0.4s ease;
            }

            button:hover {
                padding: 10px 30px;
                background: i.$pri-c;
                color: black;
                border-radius: 5px;
                border: 1px solid #351EE0;
            }
        }
    }

}

.banner {
    @include i.bannerbg;

    .bg2 {
        background: i.$bannerbgc;
        height: 440px;
        opacity: 0.5;

        .banner-t {
            color: i.$pri-c;

            .bhead {
                font-size: i.$s74;
            }

            p {
                .bimg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

.card-group {
    margin-top: 120px !important;
    max-width: i.$w;
    margin: auto;

    .item {
        border-radius: 5px;
        background: i.$pri-c;
        box-shadow: i.$box;
        width: 300px;
        height: 344px;

        .icon {
            width: 132px;
            height: 132px;
            background: #F9F9F9;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cardImg {
            width: 65px;
            height: 65px;
        }

        .card-title {
            font-weight: 700;
        }

        .card-text {
            color: #737373;
        }
    }



    .item:hover {
        .icon {
            background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
        }

        .cardImg {
            filter: brightness(1) invert(1);
        }
    }
}

.cumber {
    margin-top: 200px !important;
    max-width: i.$w;
    margin: auto;
    background: i.$pri-c;
    box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
    height: 346px;
    margin-bottom: -100px;

    .cumberBg {

        .bgc {
            position: relative;
            @include i.cumber;

            .bg3 {
                position: absolute;
            }
        }
    }

    .side {
        margin-left: 50px;
        h1 {
            font-size: 60px;
            font-weight: 700;

            .span {
                color: #351EE0;
            }
        }

        button {
            padding: 20px 30px;
            border-radius: 5px;
            border: 1px solid #351EE0;
            background: #FFF;
        }

        button:hover {
            background: i.$btnBg;
        }
    }
}

.footer {
    position: relative;
    padding-top: 200px;
    background: #05092B;
    color: i.$pri-c;
    overflow: hidden;

    .text {
        color: #737373;
    }

    .foot {
        max-width: i.$w;
        margin: auto;

        .m {
            color: i.$pri-c;
            margin-bottom: 0 !important;
            margin-left: i.$m10;
        }

        .f {
            margin-bottom: 0 !important;
            padding-left: 0 !important;

            li {
                display: flex;
                justify-content: center;
                padding: 10px;
                width: 35px;
                height: 35px;
                flex-shrink: 0;
                margin-right: 20px;
                border-radius: 5px;
                border: 1px solid #737373;

            }
        }
    }

    .w {
        max-width: i.$w;
        margin: auto;
    }

    .foot2 {
        max-width: i.$w;
        margin: auto;
    }

    .footimg {
        position: absolute;
        top: 0;
    }

    .footimg2 {
        position: absolute;
        top: 0;
        right: 0;
    }
}